*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  border: none
  outline: none
  font-size: 16px
  font-weight: 400
  font-family: "Inter", sans-serif

a, button
  cursor: pointer

body
  overflow-x: hidden
  margin-top: 94px
  height: 100%
  min-width: 320px
  scroll-behavior: smooth
  background-color: #F0EBE7


html
  overflow-x: hidden
  overflow: -moz-scrollbars-none
  -ms-overflow-style: none

html::-webkit-scrollbar
  display: none

html
  scroll-behavior: smooth