.sliderContainer
  position: relative
  width: 100%
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 40px
  border-radius: 11px
  @media(max-width: 425px)
    padding-bottom: 40px

.sliderWrapper
  display: flex
  align-items: center
  width: 100%
  border-radius: 11px
  flex-direction: column

.slideContent
  border-radius: 11px
  display: flex
  justify-content: space-between
  width: 100%
  height: 426px
  object-fit: cover
  @media(max-width: 425px)
    flex-direction: column

.slideImage
  border-radius: 11px 0 0 11px
  width: 761px
  height: 426px
  object-fit: cover
  img
    width: 761px
    height: 426px
    object-fit: cover
    border-radius: 11px 0 0 11px

.slideText
  padding: 20px
  border-radius: 0 11px 11px 0
  background-color: #fff
  &Title
    margin-top: 20px

.sliderButtonPrev,
.sliderButtonNext
  position: absolute
  top: 50%
  width: 30px
  height: 30px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  font-size: 24px
  color: #000
  @media(max-width: 425px)
    top: 87%
    width: 50px
    height: 50px
.sliderButtonPrev
  left: 10px
  border-radius: 6.988px
  background: var(--main)

.sliderButtonNext
  right: 10px
  border-radius: 6.988px
  background: var(--main)

.indicatorContainer
  display: flex
  justify-content: center
  margin-top: 20px
  //background-color: #28441c
  @media(max-width: 425px)
    margin-top: 40px

.indicator
  width: 10px
  height: 10px
  background-color: #606062
  border-radius: 50%
  margin: 0 5px
  cursor: pointer
  transition: all 0.5s ease

  &:hover
    background-color: var(--main)

.activeIndicator
  width: 31px
  height: 10px
  background-color: var(--main)
  border-radius: 5px
