.breadcrumbList
    margin-top: 25px
    display: inline-flex
    flex-wrap: wrap
    align-items: stretch
    width: auto
    gap: 4px
    list-style: none
    @media (max-width: 430px)
        display: none

    .breadcrumbTitle
        cursor: pointer
