.inputContainer
  position: relative
  display: flex
  align-items: center

.clearIcon
  position: absolute
  right: 20px
  cursor: pointer

.icon
  position: absolute
  left: 10px
  width: 16px
  height: 16px
  background-image: url('../../../../assets/Icons/search-normal.svg')
  background-size: cover
  background-repeat: no-repeat

.inputField
  width: 200px
  padding: 10px 10px 10px 35px
  background-color: #EBEBEB
  border: none
  border-radius: 12px
  outline: none
  font-size: 16px
  @media(max-width: 1200px)
    padding: 12px 8px 8px 35px
    width: 160px
  @media (max-width: 1028px)
    font-size: 16px
    width: 200px
    padding: 10px 10px 10px 35px

  &::placeholder
    color: var(--grey100)
    font-size: 18px
    font-style: normal
    line-height: normal


