.aboutUs
  margin-top: 52px
  display: flex
  gap: 10px
  @media (max-width: 420px)
    flex-direction: column

  &Title
    margin-bottom: 40px
  &Content
    margin-top: 15px

.image
  width: 733px
  height: 378px
  @media (max-width: 420px)
    width: 360px
    height: 185px
  img
    width: 733px
    height: 378px
    @media (max-width: 420px)
      width: 360px
      height: 185px
