.banner
  position: relative
  width: 100%
  height: 100vh
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  background-attachment: scroll
  @media (max-width: 430px)
    width: 100%
    height: 100vw

  .video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

    @media (max-width: 430px)
      height: 100vw

  .overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

