.banner
  background-image: url("../../../assets/Image/Background.webp")
  background-size: cover
  background-repeat: no-repeat
  height: 100vh
  @media (max-width: 420px)
    background-position: top center
    height: 120vh

