.header
  width: 100%
  height: 94px
  display: flex
  align-items: center
  justify-content: center
  background-color: #fff
  position: fixed
  top: 0
  z-index: 1

.headerContent
  align-items: center
  justify-content: space-between
  display: flex

.headerContentHidden
  opacity: 0
  pointer-events: none

.navbar
  display: flex
  gap: 32px
  white-space: nowrap
  list-style: none
  @media (max-width: 1200px)
    gap: 20px

.headerRight
  display: flex
  gap: 36px
  @media (max-width: 1200px)
    gap: 20px

.burgerIcon
  display: none
  cursor: pointer
  flex-direction: column
  gap: 10px
  background: none
  @media(max-width: 430px)
    gap: 8px
  span
    width: 40px
    height: 3px
    background-color: black
    display: block


.searchInput
  display: flex
  justify-content: center
  align-items: center

.navItem
  cursor: pointer
  position: relative
  color: black

.navItem::after
  content: ''
  position: absolute
  width: 0
  height: 3px
  bottom: -3px
  left: 50%
  background-color: var(--main)
  visibility: hidden
  transition: all 0.2s ease-in-out
  transform: translateX(-50%)

.navItem:hover::after
  visibility: visible
  width: 100%


.headerButton
  background-color: var(--main)
  border-radius: 16px
  display: flex
  padding: 10px 36px
  color: #fff
  @media(max-width: 1200px)
    padding: 10px 26px

@media (max-width: 1028px)
  .headerContent
    justify-content: space-between
    width: 100%
  .navbar
    display: none

  .burgerIcon
    display: flex

  .headerButton
    display: none

  .searchInput
    display: none

